*{
	box-sizing: border-box;
	
}
.header{
	background-color: #ffaf14;
	width: 100%;
	height:auto;
	text-align: center;
	border-bottom: 3px solid white;

}
.header img{
	width: 23%;
	height: auto;   
}
.navbar{
	width: 100%;
	height: auto;
	background-color: black;
}
.navigation{
	overflow:hidden;
}
.navigation a{
	color:#ffff;
	font-size: 15px;
	font-family: poppins;
	padding: 15px 10px;
	text-decoration: none;
	text-align: center;
	float:left;
	display:inline-flex;
}
.navigation a:hover{
	background: #ffaf14;
	color: black;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content h3{
	text-align: center;
	font-size: 20px;
	font-family: poppins;
	text-transform: capitalize;
	font-weight: 500;
	padding: 100px;

}
.contenthead span{
	color:#ffaf14;
	font-size: 20px;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: 800;
}
.footer{
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color:#ffaf14;
	padding: 100px;
	overflow:hidden;

}

.navfooter a{
	color:#060606;
	font-weight: 600;
	font-size: 15px;
	font-family: poppins;
	text-decoration: none;
	float:center;
	display:flex;
}

.navfooter a:hover{
	color: #ffff;
	text-decoration: underline;
}

.centerfooter{
	width: 100%;
	height: auto;
	text-align: center;
}
.footersocial{
	width: 100%;
	height: auto;
}

.centerfooter p{
	color:#060606;
	font-size: 15px;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: 600;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #060606;
  color: white;
  border-radius: 100%;
}
.fa-youtube {
  background: #060606;
  color: white;
  border-radius: 100%;
}
.fa-instagram {
  background: #060606;
  color: white;
  border-radius: 100%;
}
.fa-snapchat-ghost {
  background: #060606;
  color: white;
  border-radius: 100%;
}                        
.fa-skype {
  background: #060606;
  color: white;
  border-radius: 100%;
}

.footerlogo{
	width: 100%;
	height: auto;
	text-align: center;
}
.footerlogo img{
	width: 95%;
	height: auto;
}
